html {
  height: 100%;
}

body {
  font-family: "asap", "黑体", SimHei, "冬青黑体", "Hiragino Sans GB", sans-serif;
  font-size: 14pt;
  color: #aaa;
  background-color: #444;
  height: 100%;
  margin: 0pt;
  padding: 0pt;
}

#canvas {
  position: absolute;
  left: 2.5%;
  top: 2.5%;
  width: 95%;
  height: 95%;
	padding: 0; 
	margin: 0; 
	border:2pt solid #000;
  border-radius: 4pt;
  background-color:#333;
  z-index: 10;
}

.menu {
  background-color: #057;
  border: #0AF 1pt solid;
  color: #0AF;
  padding: 5pt;
  margin: auto;
  position: absolute;
  z-index: 20;
}

details.menu {
  list-style-type: none;
}

details.menu summary {
  list-style-type: none;
  display: none;
}

@media only screen and (max-width: 500px) {
  details.menu.horizontal summary {
    display: inline;
  }
}

@media only screen and (max-height: 400px) {
  details.menu.vertical summary {
    display: inline;
  }
}

.slot {
  text-align: center;
  font-size: 150%;
  color: white;
  background-color: rgb(143, 144, 145);
  display: block;
  border: 2px solid white;
  padding: 5px 5px;
  width: 40px;
  height: 40px;
}
