/*! Based on Font Squirrel (https://www.fontsquirrel.com) template August 10, 2017 */

@font-face {
    font-family: 'asap';
    src: url('Asap-mediumItalic.eot');
    src: url('Asap-mediumItalic.eot?#iefix') format('embedded-opentype'),
         url('Asap-mediumItalic.woff2') format('woff2'),
         url('Asap-mediumItalic.woff') format('woff'),
    font-weight: normal;
    font-style: Italic;

}

@font-face {
    font-family: 'asap';
    src: url('Asap-medium.eot');
    src: url('Asap-medium.eot?#iefix') format('embedded-opentype'),
         url('Asap-medium.woff2') format('woff2'),
         url('Asap-medium.woff') format('woff'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'asap';
    src: url('Asap-BoldItalic.eot');
    src: url('Asap-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('Asap-BoldItalic.woff2') format('woff2'),
         url('Asap-BoldItalic.woff') format('woff'),
    font-weight: Bold;
    font-style: Italic;

}

@font-face {
    font-family: 'asap';
    src: url('Asap-Bold.eot');
    src: url('Asap-Bold.eot?#iefix') format('embedded-opentype'),
         url('Asap-Bold.woff2') format('woff2'),
         url('Asap-Bold.woff') format('woff'),
    font-weight: Bold;
    font-style: normal;

}
